<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <title>Ejemplo 2 de sinatra</title>
    </head>
    <header>
        <h1>Ejemplo 2 de sinatra</h1>
        <nav class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/acercade">Acerca de la aplicacion</a></li>
                <li><a href="/clientes">Lista de clientes</a></li>
                <li><a href="/canciones">Lista de canciones</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <%=yield %>
    </section>
    <footer>

    </footer>
</html>
